@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:wght@300&family=Noto+Sans+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans serif;
    font-weight: 300;
}

/* headings and logo */

h1, h2 {
    font-family: Lato, sans serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(32, 29, 29);
}

#logo {
    float: left;
    font-size: 375%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 200%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid rgb(32, 29, 29);
    color: rgb(32, 29, 29);
    cursor: pointer;
    font-weight: bold;
}

.active {
    border-bottom: 2px solid rgb(32, 29, 29);
}

/* Main image */

#main-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/main-image.jpeg') no-repeat center center;
}

/* Ethos */

#ethos {
    height: 700px;
}

.introduction p {
    width: 100%;
    justify-content: center;
    text-align: center;
}

#ethos h2, h3 {
    text-align: center;
    padding-top: 10px;
}

#left-about {
    width: 33%;
    padding-top: 30px;
    float: left;
    text-align: center;
}

.resize-left {
    width: 375px;
    height: 375px;
    border-radius: 3%;
}


#right-about {
    width: 33%;
    padding-top: 30px;
    float: right;
    text-align: center;
}

.resize-right {
    width: 375px;
    height: 375px;
    border-radius: 3%;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.resize-center {
    width: 375px;
    height: 375px;
    border-radius: 3%;
}

/* Other Content */

#options {
    height: 500px;
}

#options h2 {
    text-align: center;
    padding-top: 10px;
}

#left-side {
    width: 45%;
    padding-top: 30px;
    float: left;
    text-align: center;
}

#right-side {
    width: 45%;
    padding-top: 30px;
    float: right;
    text-align: center;
}

#offers {
    height: 250px;
    padding-top: 70px;
    padding-left: 2px;
    padding-right: 2px;
}

#offers h2 {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
}

#left-offer {
    width: 33%;
    padding-top: 30px;
    float: left;
    text-align: center;
    border: 1px solid #0e0d0d;
    border-radius: 10px;
    background-color: #b7b6c8;
}

#right-offer {
    width: 33%;
    padding-top: 30px;
    float: right;
    text-align: center;
    border: 1px solid #0e0d0d;
    border-radius: 10px;
    background-color: #b7b6c8;
}

#center-offer{
    width: 33%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    border: 1px solid #0e0d0d;
    border-radius: 10px;
    background-color: #b7b6c8;
}

/* Contact section*/

#contact {
    width: 100%;
    height: 100%;
    padding: 10px 0 20px 0;
    margin: 20px 0 0 0;
}

#contact h2 {
    text-align: center;
    justify-content: center;
    margin: 5px 0 10px 0;
}

.text-center {
    text-align: center;
    margin: 2% 0 1% 0;
    padding: 5px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

.contact-box {
    text-align: center;
    margin: 2% 0 1% 0;
    padding: 5px;
}

.contact-box-address {
    text-align: center;
    margin: 2% 0 1% 0;
    padding: 5px;
}

/* Footer */

.socila-media {
    height: 200x;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socila-media a{
    height: 50px;
    width: 150px;
    text-align: center;
    margin: 15px;
    line-height: 140px;
}

.socila-media a i {
    font-size: 65px;
    transition: all 0.3s linear;
}

.socila-media a:hover i {
    transform: scale(1.4);
}

.fa-twitter {
    color: #075a9f;
}

.fa-facebook-f {
    color: #160fe3;
}

.fa-instagram {
    color: #e84393;
}

.fa-square-youtube {
    color: #e30f0f;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 1;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 50%;
}


/* Sign up form */

.sign-up-form {
    clear: both;
    width: 400px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #ffff;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.sign-up-form h1, p {
    color: #121212;
    margin-bottom: 30px;
    font-weight: bold;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #0e0d0d;
    outline: none;
}

button {
    color: #121212;
    background-color: #b7b6c8;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn {
    background-color: #1c8adb;
}

.twitter-btn {
    background-color: #21afde;
}

.sign-up-form a {
    text-decoration: none;
}

.sign-up-form hr {
    margin-top: 20px;
    width: 60%;
}

.or {
    font-weight: bold;
}